.giraffe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    max-width: 800px;
    margin: 6px 6px 0;
    svg {
        overflow: visible;
    }

    :global(#head) {
        z-index: 2;
        position: relative;
        width: 300px;
    }

    .neck {
        position: relative;
        width: 100%;
        &Rect {
            position: absolute;
            z-index: 1;
            width: 60px;
            top: -195px;
            right: 100px;
            bottom: 0;
            border: 2px solid #f15a24;
            border-bottom: none;
            background-color: #fbb03b;
        }
        &Content {
            position: relative;
            z-index: 3;
            @media screen and (min-width: 768px) {
                margin-right: 120px;
            }
        }
    }
}
