.giraffe {
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    svg {
        overflow: visible;
    }

    :global(#head) {
        z-index: 2;
        position: relative;
    }

    .neck {
        z-index: 1;
        width: 20%;
        margin-left: 45%;
        border: 2px solid #f15a24;
        border-bottom: none;
        background-color: #fbb03b;
        margin-top: -65%;
        padding-top: 80%;
        flex-grow: 1;
        &Content {
            max-width: 100vw;
            width: 600px;
            transform: translateX(-80%);
        }
    }
}
