html,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.app {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #f15a24;
}

.beian {
    position: fixed;
    bottom: 8px;
    right: 24px;
    color: gray;
    opacity: 0.8;
    text-decoration: none;
    z-index: 2;
}
