html,
body {
    overflow-y: overlay;
}

::-webkit-scrollbar {
    //display: none;
}

.app {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: #f15a24;
}

.header {
    position: sticky;
    z-index: 2;
    top: 16px;
}

.giraffe {
    position: relative;
    z-index: 1;
    transform: translateX(200px);
}

.beian {
    position: fixed;
    bottom: 8px;
    right: 24px;
    color: gray;
    opacity: 0.8;
    text-decoration: none;
}
