html,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.app {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #f15a24;
}

.info {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 32px;
    border: 2px solid #f15a24;
    margin-bottom: 24px;
    box-shadow: 10px 10px 0 0 #f15a2488;
    @media screen and (min-width: 768px) {
        margin-top: -100px;
        margin-right: 160px;
    }
}

@mixin blurPanel {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 16px 32px;
    border: 2px solid #f15a24;
    position: sticky;
    z-index: 2;
    top: 16px;
    margin-bottom: 24px;
    border-radius: 32px;
    box-shadow: 10px 10px 0 0 #f15a2488;
}

.filter {
    @include blurPanel();
    display: flex;
    align-items: center;
}

.operator {
    @include blurPanel();
    top: 92px;
}

.beian {
    position: fixed;
    bottom: 8px;
    right: 24px;
    color: gray;
    opacity: 0.8;
    text-decoration: none;
    z-index: 2;
}

.spacer {
    flex: 1 1 0;
}
